/*
#  Stylesheet for Milestone Two - Mike Magee
*/

/* FONTS - grab these from fonts.google.com  get the import statement for this definition
       Add weights as required.  In this case (100-700)  use: font-family: 'Rokkitt', serif;
*/

@import url('https://fonts.googleapis.com/css?family=Roboto Slab:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700&display=swap');
/*  ---------------------------------------------------------   Colors  */

body {
    font-family: 'RobotoSlab', sans-serif;
    /* Base font and color  */
    color: whitesmoke;
    background-color: #8f8f8f;
    ;
}

/*  ---------------------------------------------------------   Special paddings/margins/text  */

html {
    position: relative;
    min-height: 100%;
}

h1, h2, h3, h4 {
    margin: 0;
    text-align: center;
    /*  Set all margins to 0  */
}

.uppercase {
    text-transform: uppercase;
}


/*  ---------------------------------------------------------   Heading  */

header {
    margin: 0;
    /*  set all margins to 0 for now */
}

.opaque-overlay-card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    /* text seems ok  */
}


/*  -------------------------------------------------------------   Animations   
 Note: Inspired by https://codeburst.io/tutorial-three-awesome-css-hover-transitions-animations-for-beginners-c14c08309091

*/
@keyframes wiggle {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
    /*
    20%  { transform: translateX(4px);  }
    40%  { transform: translateX(-4px); }
    60%  { transform: translateX(2px);  }
    80%  { transform: translateX(-1px); }
    100% { transform: translateX(0);    }
  }
*/
  .wiggle:hover {
    animation: wiggle .4s ease;
    animation-iteration-count: 1;
  }

/*  ----------------------- Media Queries section  Taken from Bootstrap site */

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

/*   TEST 
        MAKE THESE NAME WORK BETTER 
        */

#board-section {
    width: 100%;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
}

#game-board {
    max-width: 675px;
}

.card-inline-grid {
    display: inline-grid;
    margin-bottom: 10px;
}

.card {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
    height: 50px;
    width: 100px;
}

.card-front {
    display: flex;
    background-color: #cce6ff;
    padding: 10px;
}

.card-value {
    width: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card-value-text {
    margin: 0 0;
    font-size: 20%;
    color: black;
}

.card-back{
    padding: 5px 10px 5px;    /* 5px 10px 5px */
    background-color: #0033cc ;
}

.card-back-text{
    color: whitesmoke;
    text-shadow: 1px 1px 1px #001a66;
    margin: 0 0;
}


/*   ------------------------   Several flip articles contributed to this.    
https://www.google.com/search?rlz=1C5CHFA_enUS563US564&ei=v8cdX8HLJLGJytMPnpWskA4&q=css+card+flip+effects&oq=css+card+flip+effects&gs_lcp=CgZwc3ktYWIQAzIICAAQFhAKEB46BAgAEEc6BAgAEEM6CwgAELEDELEDEJECOgoIABCxAxCxAxBDOgcIABCxAxBDOgUIABCxAzoFCAAQkQI6AggAOgYIABAWEB5QlhpY5jlgvTtoAHABeACAAVuIAewKkgECMTiYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=psy-ab&ved=0ahUKEwiBp63JwuvqAhWxhHIEHZ4KC-IQ4dUDCAw&uact=5
 */

  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .xcard {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .xcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .xcard.hover .xcard-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .xcard-front, .xcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .xcard-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .xcard-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }
